
body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

/* Navbar Section */
.logo-section {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 0 0 30px;
}
.logo-section img {
    width: 60px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: goldenrod;
}
nav h1 {
    font-size: 1.8em;
    margin-left: 5px;
}
nav ul {
    display: flex;
    margin-right: 30px;
}
nav ul > li {
    list-style: none;
    margin-right: 10px;
    padding: 2px 5px;
}
nav ul > li:hover {
    background-color: tomato;
    border-radius: 5px;
    padding: 2px 5px;
}
nav ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}

/* Heading Section */

.heading img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

/* Member Information Section */

.member-title {
    text-align: center;
    padding: 20px 0px;
    font-size: 2.5em;
    color: tomato;
}
.members {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 80px;
    justify-content: space-around;
}
.member {
    box-shadow: 10px 10px 50px grey;
    border-radius: 7px;
    border: 1px solid red;
    width: 300px;
}
.member img {
    width: 100%;
    border-radius: 7px;
}
.member h3 {
 text-align: center;
 border-top: 1px solid red;
}

/* Technical Expertization Section */

.techs {
    margin: 0 80px;
}
.web {
    box-shadow: 10px 10px 50px gray;
    padding: 25px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.web-web {
    display: flex;
    align-items: center;
    justify-content: left;
}
.web-web h3 {
    font-size: 2em;
    font-weight: 700;
    display: inline;
    margin: 0;
    margin-right: 20px;
}
.web-item {
    padding: 20px 0px;
}
.spans {
    border: 1px solid tomato;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block;
}
.spans:hover {
    background-color: tomato;
    color: white;
}
.fa, .fas {
    font-weight: 900;
    font-size: 25px;
    color: tomato;
}

